body {
    background-color: #efefef;
}
.main {
    margin: 40px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.text-desc {
    font-size: 13px;
    font-weight: normal;
    color: #9999cc;
}

.profile .section {
    margin-top: 15px;
}