body {
    background-color: #efefef;
}
.main {
    margin: 40px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}
.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 13px;
    font-weight: normal;
    color: #9999cc;
}

.profile .section {
    margin-top: 15px;
}
a:hover{
    text-decoration: none;
}
.community-menu {
    color: #999;
    font-size: 14px;
    text-decoration: none;
}
.jumbotron {
    margin: 50px;
}
.comment {
    margin: 10px 0;
}
.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.btn-comment {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: none;
    outline: none;
}
.question_title {
    margin-top: 25px;
}
.comment_sp {
    margin-top: 10px;
}
.menu {
    color: #999;
}

.menu svg {
    margin-right: 4px;
    margin-top: 5px;
    cursor: pointer;
}

.menu svg:hover {
    color: #b6d4fe;
}
svg:hover {
    cursor: pointer;
    color: blueviolet;
}
.text_ioc {
    margin-top: 10px;
}

button{
    box-shadow: none;
    outline: none;
}