<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlekingkong.community.dao.CommentMapper">


    <insert id="insertComment">
        insert into comment(content,parent_id,type,commentator,gmt_create,gmt_modified,like_count)
        values(#{content},#{parent_id},#{type},#{commentator},#{gmt_create},#{gmt_create},#{like_count})
    </insert>
    <select id="selectById" resultType="com.littlekingkong.community.model.Comment">
        select *
        from comment
        where parent_id = #{parent_id}
    </select>
    <select id="selectByQuestion" resultType="com.littlekingkong.community.model.Comment">
        select *
        from comment
        where parent_id = #{parent_id} and type = #{type}
    </select>
</mapper>