<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlekingkong.community.dao.QuestionMapper">


    <insert id="create" parameterType="com.littlekingkong.community.model.Question">
        insert into question(title, description, gmt_create,gmt_modified,creator,tag,comment_count,view_count,like_count)
        values(#{title},#{description},#{gmt_create},#{gmt_modified},#{creator},#{tag},#{comment_count},#{view_count},#{like_count})
    </insert>
    <update id="update">
        update question
        set title = #{title}, description = #{description}, gmt_modified = #{gmt_modified},tag = #{tag}
        where id = #{id}
</update>
    <update id="inView">
        update question
        set view_count = view_count + #{view_count}
        where id = #{id}
    </update>

    <update id="intCommentCount" parameterType="com.littlekingkong.community.model.Question">
        update question
        set comment_count = comment_count + #{comment_count}
        where id = #{id}
    </update>


    <select id="count" resultType="java.lang.Integer">
        select count(1) from question
    </select>
    <select id="listQuestion" resultType="com.littlekingkong.community.model.Question">
        select *
        from question
        order by gmt_create desc
        limit #{page}, #{size}
    </select>
    <select id="listQuestion2" resultType="com.littlekingkong.community.model.Question">
        select *
        from question
        order by gmt_create desc
        limit #{offset}, #{size}
    </select>
    <select id="listUserQuestion" resultType="com.littlekingkong.community.model.Question">
        select *
        from question
        where  creator = #{userId}
        order by gmt_create desc
        limit #{offset}, #{size}
    </select>
    <select id="countById" resultType="java.lang.Integer">
        select count(1)
        from question
        where creator = #{userId};
    </select>
    <select id="getById" resultType="com.littlekingkong.community.model.Question">
        select *
        from question
        where id = #{id}
    </select>
    <select id="selectRelated" resultType="com.littlekingkong.community.model.Question">
        select *
        from question
        where tag regexp #{tag} and id != #{id}
    </select>


</mapper>