<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlekingkong.community.dao.UserMapper">

  <insert id="insertUser" parameterType="com.littlekingkong.community.model.User">
      insert into user(account_id,name,token,gmt_create,gmt_modified,bio,avatar_url,type) values(#{account_id},#{name},#{token},#{gmt_create},#{gmt_modified},#{bio},#{avatar_url},#{type})
  </insert>

    <update id="update">
        update user
        set name = #{name}, token = #{token}, gmt_modified = #{gmt_modified}, avatar_url = #{avatar_url},type=#{type}
        where id = #{id}
    </update>

    <select id="findByTonken" resultType="com.littlekingkong.community.model.User">
        select *
        from user
        where token = #{token}
    </select>
    <select id="findById" resultType="com.littlekingkong.community.model.User">
        select *
        from user
        where id = #{id}
    </select>
    <select id="findByAccountId" resultType="com.littlekingkong.community.model.User">
        select *
        from user
        where account_id = #{account_id}
    </select>
    <select id="selectByList" resultType="com.littlekingkong.community.model.User">
        select *
        from user
        <if test="userIds !=null and userIds.size > 0 ">
            where id in
            <foreach collection="userIds" open="(" close=")"
                     item="id" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="ExitUser" resultType="com.littlekingkong.community.model.User">
        select *
        from user
        where account_id = #{account_id} and type=#{type}
    </select>


</mapper>